ul {
    list-style-type: none;
    color: rgb(234, 234, 234);
    padding: 0;
    text-align: center;
}

ul>h2 {
    color: rgb(234, 234, 234);
}

ul>h2:hover {
    color: #15F08B;
}

h2>a {
    color: rgb(234, 234, 234);
}

h2>a:visited {
    color: rgb(234, 234, 234);
}

h2>a:hover {
    color: #15F08B;
    text-decoration: underline;
    text-decoration-color: #15F08B;
    text-underline-offset: 6px;
}

a:active {
    color: #15F08B;
}

#copyrightText {
    font-size: 15px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
    box-sizing: border-box;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
    box-sizing: border-box;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 600px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}