.projectCard {
    width: 400px;
    height: 500px;
    background-color: red;
}

.projectTitle {
    font-size: 40px;
    padding: 20px;
    margin: auto;
}

.projectDescription {
    padding-left: 20px;
    padding-right: 20px;
}

.projectLanguages {
    font-family: 'Courier New', Courier, monospace;
}