#projectOverview {
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}

.projectGif {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.projectCard {
    width: auto;
    height: auto;
    outline: 5px;
    outline-offset: -5px;
    outline-style: solid;
    outline-color: #15F08B;
    padding: 1rem;
    margin: 15px;
    border-radius: 25px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectTitle {
    font-size: 30px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

@media (max-width: 950px) {

    .projectTitle {
        font-size: 25px;
    }
}

.projectDescription {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}


/* container */
.responsive-three-column-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}

/* 2 breakpoint */
/* add horizontal effect on buttons */

@media (max-width:1350px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:850px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .projectCard {
        width: 90%;
    }
}