#projectsDescription {
    padding-left: 10vw;
    padding-right: 10vw;
}

.projectCard {
    width: auto;
    height: auto;
    background-color: red;
    padding: 1rem;
    margin: 10px;
}

.projectTitle {
    font-size: 40px;
    padding: 10px;
    margin: auto;
}

.projectDescription {
    padding-left: 10px;
    padding-right: 10px;
}

/* container */
.responsive-three-column-grid {
    display: block;
    justify-items: center;
}

/* 2 breakpoint */
/* add horizontal effect on buttons */

@media (min-width:900px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:700px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}