html {
    height: 100%;
    width: 100%;
}

.socialMediaIcon:hover {

    fill: #64e666;
}

.socialMediaIcon {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: fill;
    fill: #f0f0f0;
    width: 50px;
    height: 50px;
}

.codingIcons {
    fill: #64e666;
    width: 60px;
    height: 60px;
}

body {
    background: #171616;
}


h1,
h2,
h3,
h4,
label {
    font-family: 'Montserrat', sans-serif;
    color: rgb(234, 234, 234);
}

p {
    color: rgb(234, 234, 234);
    font-family: 'Roboto', sans-serif;
}

.resume {
    display: inline-block;
}

#contact {
    width: 50%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea[type="text"] {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Roboto', sans-serif;

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}