html {
    height: 100%;
    width: 100%;
}

#splashName {
    font-size: 70px;
}

#splashText {
    font-size: 30px;
}

.socialMediaIcon:hover {

    fill: #64e666;
    width: 40px;
    height: 40px;
}

.socialMediaIcon {
    /*transition-duration: .2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: fill;
    */
    fill: #f0f0f0;
    width: 50px;
    height: 50px;
}

.codingIcons {
    fill: #64e666;
    width: 60px;
    height: 60px;
}

.codingIcons:hover {
    width: 50px;
    height: 50px;
}

body {
    background: #171616;
}

h1,
h2,
h3,
h4,
label {
    font-family: 'Montserrat', sans-serif;
    color: rgb(234, 234, 234);
}

p {
    color: rgb(234, 234, 234);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.buttonText {
    display: inline-block;
}

.arrow {
    display: inline;
    fill: rgb(234, 234, 234);
    width: 20px;
    height: 20px;
    margin: auto;
}

.linkButton {
    border-style: solid;
    border-color: #EAEAEA;
    border-radius: 10px;
    padding: 15px 30px;
}

.linkButton:hover {
    border-color: #64e666;

}

.linkButton:hover+.buttonText+.arrow {
    color: #64e666;
    fill: #64e666;
}